[Unit]
Description=Sync using system users and groups
After=systemd-tmpfiles-setup.service local-fs.target
# Возможно стоит добавить конкретное монтирование:
# After=systemd-tmpfiles-setup.service usr.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/check_user_and_group.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target